.filter {
    font-size: 20px;
    border-radius: 2%;
    padding-left: 30px;
    font-family: 'Pacifico', cursive;
}


.container {
    display: grid;
    grid-template-rows: 150px 1700px 50px;
    gap:20px;
}

#photo-template {
    display: inline-block;
    border: 2px solid #4a4e69;
    width: 300px;
    height: 290px;
    padding: 10px;
    margin: 10px;
    border-radius: 2%;
}
.buttons{
  display: inherit;
}
/*START FLIP CARD*/
  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 2%;
  }
  
  .flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2%;

  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2%;

  }
  
  .flip-card-front {
    border-radius: 2%;
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    border-radius: 2%;
    background-color: #9a8c98;
    color: white;
    transform: rotateY(180deg);
    width: 200px;
    height: 200px;
  }
/*END FLIP CARD*/